.footer{
    .logo{
        filter: invert(58%) sepia(79%) saturate(246%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }
    a{
        text-decoration: none;
        &:hover{
            opacity: 0.7;
        }
    }
    
    }