.navbar {
    border: 1px solid #FFFFFF24;
    background: transparent;

    .nav-link {
        color: #FFFFFF;

        &:hover {
            opacity: .8;
        }
    }

    .nav-btn {
        border-radius: 1.5em;
        border: 1px solid #fff;
        padding: 0.4em 1em !important;
    }

    .nav-btn-light {
        @extend .nav-btn;
        background-color: #fff;
        color: #222222;
        padding: .4em 1.8em !important;
    }
    
    &-show{
        background-color: $primary !important;
    }

    @media (max-width:1200px) { 
        & {
            background: $primary !important;
            font-size: small;
            .nav-btn {
                display: inline-block;
                margin-top: .5rem;
            }
        }
    }

}