.section-1 {
    .btn-primary {
        @extend .btn;
        background: $primary;
    }
}

.section-2 {
    background: $light url(../images/Image.png) no-repeat;
    background-size: cover;
    min-height: 30vh;

    .btn {
        @extend .btn;
    }

    .btn-primary {
        background: $primary;

    }

    .btn-secondary {

        background: $secondary;
    }
}

.universities {

    .col {
        border: 1px solid $light;
    }

    @media (min-width:992px) {
        margin-bottom: 20rem;

    }

}


.section-3 {
    background: $light url(../images/Image-1@2x.png) no-repeat center;
    background-size: contain;

    @media (min-width:992px) {
        .inner-1 {
            margin-top: -25rem;
        }
    }
}